.window {
    width: 100%;
    min-height: 80vh;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topics {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    padding: 20px;
    gap: 40px;
    div {
        background-color: #373A40;
        width: 30%;
        box-shadow: -2px 10px 24px 17px rgba(34, 60, 80, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        border-radius: 20px;
        border: 2px solid transparent;
        transition: all .3s ease;
        cursor: pointer;
        h4 {
            color: #EEE;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }
    }
    div:hover {
        border: 2px solid #78B7D0;
    }
}